#text {
  font-size: 30 px;
}
.hstack{
  display: flex;
  gap: 10 px;
}
.hstack img{
  width: 20 px;
  height: auto;
} 
/* .hstack:nth-child(1){
  width: 10 px;
  height: auto;
}  */
#image {
  width: 20 px;
  height: auto;
}
body {
  background-color: lightgray;
}
  
  
